# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tosca/
.pytest_cache/
.pytest/
.unittest/
.cache/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.run/

# Translations
*.mo
*.pot

# Django/SQLite stuff
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# MyPy and Python checkers
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/

# IDEs (PyCharm, VS Code, etc.)
.idea/
.vscode/
*.swp
*~

# Local LLM Manager files
models/
models.db
/LocalLLMManager/models/
/LocalLLMManager/models.db
